.logo-icon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: lightgray;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
}

.navbar-home {
    background: #4F6D99;
    padding: 12px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dashboard {
    background: #ffffff40;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}

.add-btn, .cursor {
    font-size: 18px;
    color: #fff;
}

/* ==== HERO SECTION STYLE ==== */
.home-section {
    background: #BDD2DB;
    padding-bottom: 60px;
}

.hero-container {
    position: relative;
    text-align: center;
    padding-top: 40px;
}


.badge-left, .badge-right {
    background: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}


/* FOTO */
.hero-img {
    width: 350px;
    border-radius: 15px;
    margin-top: 20px;
}

/* PORTOFOLIO TITLE */
.portfolio-title {
    font-size: 110px;
    font-weight: 800;
    color: #9600ecdc;
    opacity: 0.7;
    margin-top: -40px;
    letter-spacing: 5px;
    pointer-events: none;
}